.parallax-effect-glare-scale {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    width: 7vw; 

    height: 4.67vh;

    background-color: rgba(0, 100, 0, 0);

    color: white;

    border: 2px solid black;

    border-radius: 20px;

    transform-style: preserve-3d;
}


.inner-element {
    max-height: 4vh;
    
    max-width: 5vw;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    font-size: 15px;

    font-style: italic;

    color: white;

    transform: translateZ(1.4rem);

    border-radius: 20px;

}
